*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #444;
  font-size: 16px;
}

.container {
  max-width: 25rem;
  margin: 50px auto;
}

.github-card {
  max-width: 25rem;
}

.github-card a {
  color: #444;
  transition: color .5s ease;
}

.github-card a:hover,
.github-card a:focus {
  color: #666;
}

.github-card__search {
  margin-bottom: 1rem;
}

.github-card__textfield {
  border: 1px solid rgba(34, 36, 38, .15);
  border-radius: 0.25rem;
  color: #444;
  font-size: 1rem;
  padding: .5rem;
  width: 100%;
}

.github-card__textfield:hover,
.github-card__textfield:focus {
  outline: none;
}

.github-card__error {
  padding: .5rem 1rem;
}

.github-card__profile {
  border: 1px solid #eee;
  border-radius: 0.25rem;
  border-color: #eee #ddd #bbb;
  box-shadow: rgba(0, 0, 0, .14) 0 1px 3px;
}

.github-card__header {
  padding: .5rem .5rem .5rem 4.5rem;
  position: relative;
  min-height: 4.5rem;
}

.github-card__image {
  border-radius: 0.25rem;
  overflow: hidden;
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 3.5rem;
}

.github-card__image > img {
  max-width: 100%;
  height: auto;
}

.github-card__name > a {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  margin-bottom: .25rem;
}

.github-card__status {
  border-top: 1px solid #eee;
}

.github-card__item {
  border-left: 1px solid #eee;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: .3rem;
  margin-right: -.25rem;
  width: 33.33333%;
}

.github-card__item:first-child {
  border-left: 0;
}

.github-card__item > a {
  text-decoration: none;
  cursor: pointer;
}

.github-card__count {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
}
